.container {
  width: min(90%, 960px);
  margin: 0 auto;
}

.navbar__wrapper {
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    width: min(50%, 350px);
    display: flex;
    justify-content: space-between;
  }
}