.btn {
  padding: .5rem 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  border: 3px solid transparent;
  background-color: #407B40;
  color: white;
}

.secondary {
  border: 3px solid #407B40;
  color: #407B40;
  font-weight: 700;
  text-transform: uppercase;
}