.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 2rem 2rem;
  z-index: 2;
  background-color: white;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,.4), -3px 3px 5px 0 rgba(0, 0,0,.4);
  border-radius: 8px;

  &__header {}

  &__title {
    text-align: center;
  }

  &__body {
    padding: 2rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__list__item {}

  &__footer {
    display: flex;
    gap: 1em
  }

  &__saveBtn {
    display: block;
    flex-grow: 1;
    padding: .25em 0;
    border-radius: 4px;
    font-weight: 700;
    border: 3px solid transparent;
    background-color: #407B40;
    color: white;

    &:nth-of-type(2) {
      background-color: transparent;
      border-color: firebrick;
      color: firebrick;
    }
  }
}